# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Bailey\Desktop\Programming\Game Development\eclipse-workspace\2020\.idea/dataSources/
/dataSources.local.xml
